
html{
    overflow-x: hidden;
}
body{
    background-color: #030A1B;
    
    margin:0px;
    padding:0px;
    overflow: hidden;
    
}

nav{
    width: 1,440px;
    height: 108px;
    top:18px;
    left:104px;
    position:fixed;
    z-index: 1;
    padding:20px;
    padding-bottom: 0px;
    background-color: #030A1B;
    border-radius: 0.5px;
    
}
#overall-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:1232px ;
    height: 80px;
    top:18px;
   margin-left:104px;
  border-radius: 20px;
    border:0.5px solid black;
}
.first-section{
    display:flex;
    justify-content: space-between;
    gap:45px;
    align-items: center;
}
#first-section{
    margin-top:-40px;
    padding:0px;
}
.first-section-second-div{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}
.logo{
    width:92px;
    height: 92px;
}
ul{
    list-style: none;
}
li{
    font-family:lato,sans-serif;
    text-transform: capitalize;
    font-weight: 500px;
    font-size: 24px;
    line-height: 100%;
    color:#ffffff;
    text-decoration: none;
}
.list-icon{
    display:none;
}
.second-section{
    display:flex;
    justify-content: space-between;
    gap:25px;
}
img{
    width:35px;
    height:35px;
}
#section-one{
    width:1,440px;
    height:725px;
    position: relative;
}
#title-div{
    position:absolute;
    top:471px;
  width:553px;
    width:553px;
    height:148px;

    left:66px;
   
}
.watch{
    display:flex;
    justify-content: space-between;
    position:absolute;
    width:307px;
    height: 40px;
    top:659px;
    left:66px;
    
}
.main-title{
    width:560px;
}
.watch-button{
    display:flex;
    /* justify-content: space-around; */
    gap:5px;
    align-items: center;
    color:#ffffff;
    
    background:#228EE5;
    width:168px;
    height: 40px;
    border-radius:20px;
    border:none
}
.more-info-button{
    width:128px;
    height: 40px;
    border-radius: 28px;
    border:1px;
}
#witcher-text{
    color:#ffffff;
    font-family: lato,sanserif;
    font-weight: 700px;
    font-style:bold;
    font-size:48px;
    line-height: 100%;
    
    text-decoration: capitalize;
}
#info-text{
    font-family: lato,sans-serif;
    font-size:16px;
    line-height: 100%;
    font-weight: 500px;
    font-style:medium;
    margin-top:-32px;
    color:#ffffff;
}
#second-section{
    width:1,440px;
    height: 386px;
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    justify-content: space-between;

}
#movies{
    font-family:lato,sans-serif;
    font-weight:700px;
    font-style: bold;
    font-size:48px;
    line-height: 100%;
    margin-left: 64px;
    color:#EBFAFF;
    text-decoration: capitalize;

}
#genres{
    width:1,440px;
    height:404px;
}
#genre-one{
width:1,335.19px;
height: 55px;
margin-bottom:40px;


}
#trends-text{
    display:flex;
    align-items: center;
    /* justify-content: space-between; */
    gap:1230px
}
#see-more{
    width:141px;
    padding-top:2px;
    padding-bottom:2px;
    border-radius:5px;
    height: 33px;
    font-family:lato,sans-serif;
    font-weight:700px;
    font-size:24px;
    font-style:bold;
    border:1px solid #228EE5;
    line-height: 100%;
    color:#228EE5
}
#see-more-section{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 25px;
}
#genre-two{
    width:1,440px;
    display:flex;
    justify-content:space-between;
    gap:25px;
    height:296px;
    
    
}
#card{
    width:208px;
    display:flex;
    height:296px;
    /* background-color: purple; */;
}
#card-image{
    width:208px;
    height:296px;
    border-radius: 20px;
    box-shadow:10px 10px 5px rgba(112, 144, 176, 0.2);
    
}

@media screen and (max-width: 600px) {
  
   body{
    background-color: #030A1B;
    margin:0px;
    padding:0px;
}
nav{
    background:none;
    
    width: 290px;
    height: 39px;
    top:12px;
   left:6px;
    
}
#overall-div{
    display:flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    gap:119px;
    /* flex-direction: column; */
      width: 290px;
    height: 39px;
    margin-top:-12px;
   margin-left:0px;
}
.first-section{
    display:flex;
    justify-content: space-between;
    gap:45px;
    align-items: center;
}
.first-section-second-div{
    display:flex;
    justify-content: space-between;
    padding:20px;
    align-items: center;
    gap:30px;
}
.logo{
    width:26px;
    height: 26px;
}
li{
    display:none;
    font-family:lato,sans-serif;
    text-transform: capitalize;
    font-weight: 500px;
    font-size: 24px;
    line-height: 100%;
    color:#ffffff;
}
.search-icon{
    margin-left: 30px;
    display:flex;
    width:20px;
    height:20px;
}
.notification-icon{
   
    display:none;
}
.log-icon{
    display:none;
}
.sun-icon{
    display:none;
}
.list-icon{
    display:flex;
    width:20px;
    height:20px;
}
.second-section{
    display:flex;
    justify-content: space-between;
    gap:25px;
}
img{
    width:35px;
    height:35px;
}
#section-one{
    width:99%  ;
    height:624px;
    background-size:auto;
    background-position: inherit;
    position: relative;
}
#title-div{
    position:absolute;
    top:239px;
   
    width:307px;
    height:218px;
padding-bottom:23px;
padding-top:23px;
    left:16px;
   
}
.watch{
    display:flex;
    justify-content: space-between;
    position:absolute;
    width:307px;
    height: 40px;
    top:570px;
    left:16px;
    
}
.main-title{
    width:560px;
}
.watch-button{
    display:flex;
    /* justify-content: space-around; */
    gap:5px;
    align-items: center;
    color:#ffffff;
    
    background:#228EE5;
    width:168px;
    height: 40px;
    border-radius:20px;
    border:none
}
.more-info-button{
    width:128px;
    height: 40px;
    border-radius: 28px;
    border:1px;
}
#witcher-text{
    color:hsl(0, 0%, 100%);
    width:307px;
    font-family: lato,sanserif;
    font-weight: 700px;
    font-style:bold;
    font-size:48px;
    line-height: 100%;
    
    text-decoration: capitalize;
}
#info-text{
    font-family: lato,sans-serif;
    font-size:12px;
    width:307px;
    line-height: 100%;
    font-weight: 500px;
    font-style:medium;
    margin-top:-32px;
    color:#ffffff;
}
}